
include intro/slide.pug
include project-overview/slide.pug
include project-overview-02/slide.pug
include project-requirements/slide.pug

include webgl-bright/slide.pug
include webgl-explanation/slide.pug
include webgl-uses/slide.pug
include webgl-samples/slide.pug

include architecture-overview/slide.pug
include architecture-expectation/slide.pug
include architecture-reality/slide.pug
include tech-stack/slide.pug

include issue-1/slide.pug
include forced-perspective/slide.pug
include camera-types/slide.pug
include matter-of-perspective/slide.pug
include demo-camera-types/slide.pug

include issue-2/slide.pug 
include coordinate-system/slide.pug
include raycaster/slide.pug
include demo-raycaster-projection/slide.pug

include issue-3/slide.pug
//- Feature: Parallel Snapping(we can show and image)
include feature-guide/slide.pug
//- First Approach(Using slope equation)
include first-approach/slide.pug
//- First Approach Problem(a illustration of slope values and code snippet)
include second-approach/slide.pug
//- Second Approach with Problem(show code snippet)
include backstabbing/slide.pug
include demo-backstabbing-example/slide.pug
//- Third Approach(show code snippet)
include third-approach/slide.pug
include antonio-banderas/slide.pug
include parallel-guide-example/slide.pug

//- Toolbox
include sin-and-cos/slide.pug
include sin-cos-illustration/slide.pug
include demo-sin-cos/slide.pug
include compass-example/slide.pug

include shaders-title/slide.pug
include vertex-fragment/slide.pug
include glsl/slide.pug
include shader-examples/slide.pug
include magic/slide.pug

//- Conclusion(WebGL new Stuff)
include look-forward/slide.pug
include resources/slide.pug
include thanks/slide.pug
