extends ../slide-base.pug

block content
    .title
        | FIRST APPROACH
    .thin
        | Getting The Slope
    .row
        .col-xs-12
            img.raw-img(src="https://dj1hlxw0wr920.cloudfront.net/userfiles/wyzfiles/0768ac46-e04b-4c5c-9f2b-7748f5196842.gif")