extends ../slide-base.pug

block content
    .title
        | GLSL
    .thin
        | The Forgotten Language
    .row.content-center
        a(href="https://thebookofshaders.com/edit.php#06/hsb-colorwheel.frag", target="_blank")
            | Click me!
    