extends ../slide-base.pug

block content
    .title BACKSTABBING
    .row
        .col-xs-4
            img(src="./slides/backstabbing/assets/01.gif")
        .col-xs-4
            img(src="./slides/backstabbing/assets/02.gif")
        .col-xs-4
            img(src="./slides/backstabbing/assets/03.gif")
