extends ../slide-base.pug

block content
    .title
        | PROJECT REQUIREMENTS
    .row
        .col-xs-12
            ul
                li.fragment.fade-in
                    | Migrate Legacy App
                li.fragment.fade-in
                    | Full-fledged frontend app
                li.fragment.fade-in
                    | Geolocalitation
                li.fragment.fade-in
                    | Drawing tool (canvas, svg, other APIs)
                li.fragment.fade-in
                    | Importing Models 
                    span.fragment.fade-in.bold
                        | in 3D!

