section(data-state="webgl-bright-dexter")
    .title
        | WEBGL
    .title
        | IT'S TIME TO BRIGHT!
    video#video-webgl-bright(src="slides/webgl-bright/assets/video.mp4", loop, style="width: 640px")
    script(src="slides/webgl-bright/slide.js")
