extends ../slide-base.pug

block content
    .title
        | COORD SYSTEMS
    .row
        .col-xs-6
            div
                | Viewport
            img.raw-img(src="slides/coordinate-system/assets/01.jpg")
        .col-xs-6
            div
                | WebGL
            img.raw-img(src="slides/coordinate-system/assets/02.png")

