@import "variables"

// FONT TYPES AND FAMILIES
.regular
    font-family: $font-main

.cursive
    font-family: $font-cursive

.bold
    font-family: $font-bold

.black
    font-family: $font-black

.thin
    font-family: $font-thin

.light
    font-family: $font-light

.code
    font-family: $font-code

// SIZES
.capital
    text-transform: capitalize

.uppercase
    text-transform: uppercase

.lowercase
    text-transform: lowercase

.left
    text-align: left

.right
    text-align: right

.center
    text-align: center

.title
    @extend .black
    font-size: 3.5rem

.mid-size
    font-size: 2rem

.strikethrough
    text-decoration: line-through
