@import 'variables'

@font-face
    font-family: $font-main
    src: url('./fonts/Catamaran-Regular.ttf')

@font-face
    font-family: $font-cursive
    src: url('./fonts/Firicico Italic.ttf')

@font-face
    font-family: $font-black
    src: url('./fonts/Catamaran-Black.ttf')

@font-face
    font-family: $font-bold
    src: url('./fonts/Catamaran-Bold.ttf')

@font-face
    font-family: $font-thin
    src: url('./fonts/Catamaran-Thin.ttf')

@font-face
    font-family: $font-light
    src: url('./fonts/Catamaran-Light.ttf')

@font-face
    font-family: $font-code
    src: url('./fonts/IBMPlexMono-Regular.ttf')
