extends ../slide-base.pug

block content
    .title
        | THIRD APPROACH
    .thin
        | Dot Product
    .row
        .col-xs-12
            img.raw-img(src="slides/third-approach/assets/01.png")
            div.right
                | "Beauty is the first test: there is no permanent place in the world for ugly mathematics"
            div.bold.right
                | G.H. Hardy