extends ../slide-base.pug

block content
    .title
        | LOOKING FORWARD 
    .row
        .col-xs-12
            ul
                li.fragment.fade-in
                    | WebGL 2.0
                li.fragment.fade-in
                    | WASM
                    span.fragment.fade-in
                        |  ...More WebGL apps are coming?
