extends ../slide-base.pug

block content
    .title
        | WEBGL SAMPLES
    .row
        .col-xs-4
            a(href="http://www.vill.ee/eye/", target="_blank")
                img(src="slides/webgl-samples/assets/01.png")
        .col-xs-4
            a(href="https://alteredqualia.com/three/examples/materials_cubemap_escher.html", target="_blank")
                img(src="slides/webgl-samples/assets/02.png")
        .col-xs-4
            a(href="https://akirodic.com/p/jellyfish/", target="_blank")
                img(src="slides/webgl-samples/assets/03.png") 
