extends ../slide-base.pug

block content
    .title
        | RESOURCES
    .row.content-center
        .col-xs-2
            a(href="http://file.allitebooks.com/20151222/Foundation%20HTML5%20Animation%20with%20JavaScript.pdf", target="_blank")
                img(src="slides/resources/assets/rs1.jpeg")
        .col-xs-2
            a(href="http://file.allitebooks.com/20151229/WebGL%20Programming%20Guide.pdf", target="_blank")
                img(src="slides/resources/assets/rs2.jpeg")
        .col-xs-2
            a(href="http://file.allitebooks.com/20160419/Learning%20Three.js%20The%20JavaScript%203D%20Library%20for%20WebGL,%20Second%20Edition.pdf", target="_blank")
                img(src="slides/resources/assets/rs3.jpeg")
        .col-xs-2
            a(href="https://natureofcode.com/book/acknowledgments/", target="_blank")
                img(src="slides/resources/assets/rs4.jpeg")
    .row.content-center
        .col-xs-2
            a(href="https://thebookofshaders.com/?lan=en", target="_blank")
                img(src="slides/resources/assets/rs5.png")
        .col-xs-2
            a(href="https://egghead.io/courses/create-3d-graphics-in-javascript-using-webgl", target="_blank")
                img(src="slides/resources/assets/rs6.png")
        .col-xs-2
            a(href="https://tympanus.net/codrops/tag/three-js/", target="_blank")
                img(src="slides/resources/assets/rs7.png")


