
section(data-state="shader-title")
    .title HARDEST PART
    #shader-text
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/Blotter/0.1.0/blotter.js")
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/Blotter/0.1.0/materials/channelSplitMaterial.min.js")
    script(src="./slides/shaders-title/slide.js")
