extends ../slide-base.pug

block content
    .row
        .col-xs-6
            img(src="./slides/matter-of-perspective/assets/01.png")
        .col-xs-6.margin-center
            .thin
                | IT'S A MATTER OF PERSPECTIVE
