extends ../slide-base.pug

block content
    .title
        | SECOND APPROACH
    .thin
        | Getting The Angle
    .row
        .col-xs-12
            img.raw-img(src="slides/second-approach/assets/01.png")