extends ../slide-base.pug

block content
    .title
        | FEATURE DESCRIPTION
    .row
        .col-xs-6
            img(src="slides/feature-guide/assets/parallel_01.png")
        .col-xs-6
            img(src="slides/feature-guide/assets/parallel_02.png")