extends ../slide-base.pug

block content
    .row
        .col-xs-5
            img(src="./slides/forced-perspective/assets/01.jpg")
        .col-xs-6.col-xs-offset-1.margin-center
            .title
                | HOW IS BIGGER?
            .row.thin.center
                .col-xs-12.fragment.fade-in
                    | WebGL says...
                .col-xs-12.fragment.fade-in
                    | It depends
