extends ../slide-base.pug

block content
    .title CAMERA TYPES
    .row
        .col-xs-6
            .col-xs-12
                img(src="./slides/camera-types/assets/01.png")
            .col-xs-12
                | Perspective
        .col-xs-6
            .col-xs-12
                img(src="./slides/camera-types/assets/02.png")
            .col-xs-12
                .center
                    | Orthographic
