extends ../slide-base.pug

block content
    .title
        | TECH STACK
    .row
        .col-xs-12
        ul
            li.fragment.fade-in
                a(href="https://www.typescriptlang.org/", target="_blank")
                    | Typescript
            li.fragment.fade-in
                span
                    a(href="https://reactjs.org/", target="_blank")
                        | React
                    |  &
                    a(href="https://www.styled-components.com/", target="_blank")
                        | Styled Components
            li.fragment.fade-in
                a(href="https://threejs.org/", target="_blank")
                    | Three.js
            li.fragment.fade-in
                a(href="https://mobx.js.org/", target="_blank")
                    | Mobx, Mobx-lite
            li.fragment.fade-in
                span
                    a(href="https://processing.org/", target="_blank")
                        | Processing
                    |  /
                    a(href="https://p5js.org/", target="_blank")
                        | P5.js
