doctype html
html(lang="")
  head
    meta(charset="utf-8")
    //- link(rel="stylesheet", href="index.css")
  body
    .reveal
        .slides
            include slides/slide-order.pug
    include slides/snippets.html
    script(src="main.js")
