extends ../slide-base.pug

block content
    .title
        | REAL-WORLD USES FOR WEBGL 
    .row
        .col-xs-12
            ul
                li.fragment.fade-in
                    | Video Games
                li.fragment.fade-in
                    | Data Visualization
                li.fragment.fade-in
                    | GUI
                li.fragment.fade-in
                    | Biological and Physics simulations
                li.fragment.fade-in
                    | FX & Animation Movies
                li.fragment.fade-in
                    | 3D Modeling
                li.fragment.fade-in
                    | Industrial & Architectural Demos

