extends ../slide-base.pug

block content
    .title
        | PIXEL BY PIXEL
    .thin
        | The Rasterization Process
    .row
        .col-xs-6
            img.raw-img(src="slides/webgl-explanation/assets/01.png")
        .col-xs-6
            img.raw-img(src="slides/webgl-explanation/assets/02.png") 
        

